# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

${rootArtifactId}-common/target
${rootArtifactId}-core/target
${rootArtifactId}-web/target
.idea/
log/
